Assembly-CSharp.csproj
Assembly-CSharp-Editior.csproj
Library/metadata
Temp/ProcessJobs
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/EditorInstance.json
Library/expandedItems
